<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <link href="{{ site.baseurl }}/css/common.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ site.baseurl }}/css/purple.css?rdm=201612271915" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ site.baseurl }}/css/default-index.css?rdm=sfs7fs1" rel="stylesheet" type="text/css" media="screen" />
    <style type="text/css">html, body { background: #ff5252; color: #ddd; }</style>
  </head>

  <body>
    {{ content }}
  </body>
</html>
